@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
    --primarycolor: rgb(123, 100, 182);
}

body {
    font-family: 'Noto Sans', sans-serif;
}

/**container**/

.container {
    padding: 0 rem 1 rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
    text-align: center;

}

hr {
    margin: 1.75rem 0rem;
}

/**link**/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-link {

    background-color: var(--primarycolor);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primarycolor);
    border-radius: 0.5rem;
    border: 2px solid var(--primarycolor);
}

/* Check out what is BEM naming convention */


/* Lists */

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 1rem;

}

/* Nav */

.navigation {
    background-color: var(--primarycolor);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}


.navigation .link-active {
    font-weight: bold;
    color: cyan;
}


/* header */

.header-h1 {
    background-color: var(--primarycolor);
    color: white;
    border-radius: 1rem 1rem;
    padding: 4px;
    

}

/* section */

/* .section{
    padding: 2rem;
} */

.section h1 {
    text-align: center;

}

.cy {
    background-color: rgba(233, 238, 238, 0.853);

}

.ow {
    background-color: rgb(241, 226, 241);
}

.footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--primarycolor);
    color: white;

}

.footer-link {

    color: rgb(255, 255, 255);
    text-decoration: none;

}

.footer ul {
    padding-inline-start: 0px;
}

.para{
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #333;
  margin: auto;
  margin-bottom: 20px;

}